/* #formcontainer{
  
    height: 400px;
     background-color: rgb(210, 207, 207);
}   */
.formsection {
    font-size:30px;
    padding: 40px;
}

.form-container{
    color: blanchedalmond;
}

form{
    height:300px;
    width: 480px;
    background-color:inherit;
    padding: 10px;
    border-radius: 10px;
    color:white;
    
}
