<section class="container">
  <div class="row">
        <div class="col-12 col-md-4">
           <div class="card" style="width: 18rem;">
              <img src="" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Python</h5>
                <a href="#" class="btn btn-primary">Go To Python Course</a>
              </div>
            </div>
            <div>
              <sec>