body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin:5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    flex-direction: wrap;

}
button:hover {
    background-color: #45a049;
    flex-wrap: wrap;
}

