*{
    margin:0px;
    padding:0px;
}

#intro{
    background-image: url("pictures/gearedupman.jpg");
    height:130vh;
    width:90vw;
    background-size: cover;
    margin-left:80px;
    background-color: black;

}
#quote{
    color:black;
    font-size: 40px;
    font-weight:bold;
    height:200px;
    width:450px;
    padding:50px;
    padding-left:70px;
    text-align: center;
}
.card img{
    height:280px;
    width:350px;
}
.container{
