*{
margin:0px;
padding:0px;
}


#intro{
    background-image:url("pictures/modpage.jpg");
    height:100vh;
    width:100vw;
    background-size: cover;

}
#quote{
    color:black;
    font-size: 70px;
    font-weight:bold;
    height:100px;
    width:450px;
    padding:50px;
    padding-left: 70px;
    text-align: center;
}
.card img{
    background-color: black;
    height: 650px;
    width: 750px;
    padding-left:  50px;
    margin:70px;
    
}
.card-title{
    color:black;
    font-size:40px;
    font-weight: bold;
    height:40px;
    width:60;

}
.card-text{
    height: 100px;
    width:500px;
    font-size: 40px;

}
.card-body{
    height: 350px;
    width: 500px;
    padding-left:  50px;
    margin:70px;

}
.box1{
    margin-bottom: 150px;
}
.box1{
    background-color: black;
}
.btn{
    height: 350px;
    width: 500px;
    padding-left:  50px;
    margin:70px;
}