*{
    margin:0px;
    padding:0px;

}
header{
    background-color:black;
    color:white;
    height:200px;
    font-size:60px;
    text-align:center;

}
nav{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    text-align:center;
    
    
    /* margin:50px; */

}
#listelements{
    
    padding:20px 10px 20px 10px;
    height: 10px;
    
    /* color:white; */
}
#listelements a{
    color:azure;
    text-decoration:none;
    border:1px solid white;
    margin:0px 5px;
    font-size: 20px;
    padding: 5px ;
    border-radius:5px;

}

#listelements a:hover{
    background-color:black;
}

#logo{
    margin:10px;
    font-size:30px;
    font-weight:bold;
    font-family:"Times New Rome";
    font-style:italic;

}   
#quote{
  
    color:black;
    font-size:40px;
    font-weight:bold;
    height:60px;
    /* margin:aliceblue */
    padding:50px ;
    padding-left:200px;
    text-align:center;
    font-style: italic;
}
#carous{
    height:100vh;
    width: 100vw;
    margin:50px auto;
     
}
#carous img{
    height:800px;
    width: 1000px;
   

}
.logo1 img{
    width:80px;
    margin-top:10px;
}
