*{
    margin:0px;
    padding:0px;

}


#formcontainer{
  
    height: 800px;
     background-color: grey;
}  
.formsection {
    
    padding: 40px;
}



form{
    height: 414px;
    width: 473px;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
    color:white;
    
}
input{
    padding:7px;
    margin:7px;
    border-radius: 10px;
    border-style: none;
    color:black;
    font-size: 15px;
}
select{
    padding:5px 10px;
    border-radius: 5px;
    background-color: white;
}
::placeholder{
    color:rgb(94, 92, 92);
}
label,textarea{
    margin:10px;
}
#submitbtn{
    color:black;
  margin-left:190px;
  padding:10px 20px;
 
}

button{
    padding:10px;
    margin-left: 180px;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
}

